<!DOCTYPE html>

<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Partyfy</title>
        </head>


<body style="background-color:black;">
    <div style="padding: 350px 0;">
    <h2  align="center" style="color: white;"> welcome to partyfy</h2>

    <p  align="center" style="color: white;">please sign in using Spotify</p>
    <div align= "center">
    <form  action={% url 'welcome' %}>
        <input type="submit" value="Sign in" type="button" class="btn btn-success btn-primary btn-lg"/>
    </form>
    </div>


    </div>
</body>


</html>



